config.json
private
localstore

client/components/polymer
client/components/font-roboto
client/components/core-*
client/components/paper-*
client/components/platform

app/components/polymer
app/components/font-roboto
app/components/core-*
app/components/paper-*
app/components/platform

libs/*.exe

.idea
_temp
binaries
node_modules