config.json
private
localstore

client/components/polymer
client/components/font-roboto
client/components/core-*
client/components/paper-*
client/components/platform

.idea
_temp
binaries
node_modules