<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../sa-scheduler/sa-scheduler.html">
<link rel="import" href="../sa-log-output/sa-log-output.html">

<!--
An element providing a solution to no problem in particular.

Example:

    <sa-app-runcontrols></sa-app-runcontrols>

-->
<dom-module id="sa-app-runcontrols">

  <style>
    sa-log-output {
      height: 400px;
      width: 100%;
    }
  </style>

  <template>
    <content>
      <sa-scheduler id="scheduler" on-taskrun="runTask"></sa-scheduler>
      <sa-log-output id="log"></sa-log-output>
    </content>
  </template>

</dom-module>

<script>
  Polymer({

    is: 'sa-app-runcontrols',

    properties: {},

    /**
     * run a task
     * @param task
     */
    runTask: function(task) {
      if (typeof task === 'object') {
        task = task.detail.task;
      }
      require('ipc').send('guiEvent', {type: 'runTask', details: { task: task}});
    },

    // Element Lifecycle

    ready: function() {
      var remote = require('remote');
      var config = remote.getGlobal('config');
      this.$.scheduler.schedule = config.schedule;

      var self = this;
      require('ipc').on('engineEvent', function(event) {
        switch (event.type) {
          case 'taskRunningStatus':
            self.$.scheduler.setRunningState(event.details.task, event.details.running);
            break;

          case 'log':
            self.$.log.addMessage(event.details);
            break;
        }
      });
    }

    // Element Behavior

  });

</script>
