<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-style/core-style.html">
<link rel="import" href="../core-animated-pages/core-animated-pages.html">

<link rel="import" href="../sa-mainmenu/sa-mainmenu.html">
<link rel="import" href="../sa-libraryview/sa-libraryview.html">
<link rel="import" href="../sa-sourcesadmin/sa-sourcesadmin.html">
<link rel="import" href="../sa-playmedia/sa-playmedia.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <sa-app></sa-app>

@element sa-app
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://bengfarrell.github.io/sa-app
-->
<polymer-element name="sa-app" attributes="notitle">

  <template>

    <link rel="stylesheet" href="sa-app.css" />

    <content>
        <sa-mainmenu id="mainmenu" on-tabclick="{{onTabClicked}}"></sa-mainmenu>

        <div class="content">

            <core-animated-pages transitions="cross-fade-all" selected="{{selected}}">

                <!-- Play Tab -->
                <section>
                    <div layout vertical center center-justified style="background:red;">
                        <sa-playmedia></sa-playmedia>
                    </div>
                </section>

                <!-- Library Tab -->
                <section>
                    <div layout vertical center center-justified style="background:blue;">
                        <sa-libraryview></sa-libraryview>
                    </div>
                </section>

                <!-- Sources Tab -->
                <section>
                    <div layout vertical center center-justified style="background:purple;">
                        <sa-sourcesadmin></sa-sourcesadmin>
                    </div>
                </section>

                <!-- Tasks Tab -->
                <section>
                    <div layout vertical center center-justified style="background:orange;">
                        <div>4</div>
                    </div>
                </section>

                <!-- ?? Tab -->
                <section>
                    <div layout vertical center center-justified style="background:green;">
                        <div>5</div>
                    </div>
                </section>
            </core-animated-pages>
        </div>

    </content>

  </template>

  <script>

   Polymer('sa-app', {

       /** currently selected index */
       selected: 0,

       /** tabs in order - ties to selected index */
       tabChildren: ['play_tab', 'library_tab', 'sources_tab', 'tasks_tab'],

        /**
        * The `noevent` event is not actually fired from here,
        * we document it as an example of documenting events.
        *
        * @event noevent
        */

        /**
        * The `notitle` attribute does not yet have a purpose.
        *
        * @attribute notitle
        * @type string
        */
        notitle: '',

        /**
        * The `aProp` is a property that does something cool.
        *
        * @property aProp
        * @type bool
        */
        aProp: false,

        ready: function() {
        },

        /**
        * The `task` method does no work at this time.
        *
        * @method task
        * @return {Object} Returns undefined.
        * @param {String} dummy Serves no purpose today.
        */
        task: function(dummy) {
        },

        /**
         * on tab clicked event
         * @param e
         */
        onTabClicked: function(e) {
            this.selected = this.tabChildren.indexOf(e.detail.id);
        }

    });

  </script>

</polymer-element>
