<html ng-app="app">
    <head>
        <title>SharkAttack Administration</title>
        <script type="text/javascript" src="../jquery.min.js"></script>
        <script src="../angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" media="all" href="../bootstrap/css/bootstrap.min.css">
        <script src="../bootstrap/js/bootstrap.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/controllers/PlaylistController.js"></script>
    </head>

    <body class="sharkApp">
        <ng-headernav name="Playlist"></ng-headernav>
        <div class="content" ng-controller="PlaylistController">
            <div class="list-group">
                <div ng-repeat="block in playlist.script" class="list-group-item hero-unit {{block.$$hashKey}}">
                    <h1>{{block.label}}</h1>
                    <label>
                        Label
                        <input type="text" class="form-control" ng-model="block.label" />
                    </label>

                    <label ng-show="block.duration">
                        Block Duration:
                        <input type="number"
                               class="target-duration input slidernumber form-control"
                               value="{{block.duration}}"/>
                    </label>

                    <label ng-show="block.duration">
                        <select class="form-control" ng-model="block.durationFormat">
                            <option value="percent">percent</option>
                            <option value="hours">hours</option>
                            <option value="minutes">minutes</option>
                            <option value="seconds">seconds</option>
                        </select>
                    </label>
                    <label>
                        Block type
                        <select class="form-control" ng-model="block.type">
                            <option value="interstitial">interstitial</option>
                            <option value="block">block</option>
                        </select>
                    </label>
                    <label>
                        Block Source
                        <select class="form-control" ng-model="block.source">
                            <option value="VO">VO</option>
                            <option value="ASSET_LIBRARY">ASSET_LIBRARY</option>
                        </select>
                    </label>

                    <label ng-show="block.sort">
                        Sort By
                        <select class="form-control" ng-model="block.sort">
                            <option value="date">date</option>
                            <option value="rank">rank</option>
                        </select>
                    </label>

                    <div class="well">
                        <p>
                            description
                            <input type="text" class="form-control" ng-model="block.text" placeholder="descriptive text" />
                        </p>

                        <p ng-show="block.type=='interstitial'&&block.source=='VO'">
                            media file
                            <input type="text" class="form-control" ng-model="block.media" placeholder="url of media" />
                        </p>

                        <h3 data-target=".{{block.$$hashKey}} .filters" ng-show="block.type=='block'" data-toggle="collapse"><button class="btn">Show Filters</button></h3>
                        <div ng-show="block.type=='block'" class="well collapse filters {{block.$$hashKey}}">
                            <button class="btn btn-primary" ng-click="app.addItem(block.filters, block, 'filters')">+ Add filter</button>
                            <div ng-repeat="filter in block.filters">
                                <label>
                                    filter name
                                    <select class="form-control" ng-model="filter.name" placeholder="filter name">
                                        <option value="includeFavoritesOnly">includeFavoritesOnly</option>
                                        <option value="excludeFavorites">excludeFavorites</option>
                                        <option value="includeMP3Only">includeMP3Only</option>
                                        <option value="includeVideoOnly">includeVideoOnly</option>
                                        <option value="excludeSources">excludeSources</option>
                                        <option value="includeSpotifyOnly">includeSpotifyOnly</option>
                                    </select>
                                </label>
                                <label>
                                    filter params
                                    <input type="text" class="form-control" ng-model="filter.params" placeholder="filter params">
                                </label>
                                <a class="btn btn-danger" ng-click="app.deleteItem(block.filters, filter)"><i class="icon-trash icon-white"></i> Delete</a>
                            </div>
                        </div>

                        <h3 data-target=".{{block.$$hashKey}} .sourcemappings" ng-show="block.type=='block'" data-toggle="collapse"><button class="btn">Source Block Mappings </button></h3>
                        <div ng-show="block.type=='block'" class="well collapse sourcemappings">
                            <button class="btn btn-primary" ng-click="app.addItem(block.mapping, block, 'mapping')">+ Add Mapping</button>
                            <div ng-repeat="map in block.mapping">
                                <label>
                                    source
                                    <input type="text" class="form-control" ng-model="map.source" placeholder="source id">
                                </label>
                                <label>
                                    description
                                    <input type="text" class="form-control" ng-model="map.text" placeholder="description">
                                </label>
                                <label>
                                    label
                                    <input type="text" class="form-control" ng-model="map.label" placeholder="label">
                                </label>
                                <label>
                                    media
                                    <input type="text" class="form-control" ng-model="map.media" placeholder="media url">
                                </label>
                                <a class="btn btn-danger" ng-click="app.deleteItem(block.mapping, map)"><i class="icon-trash icon-white"></i> Delete</a>
                            </div>
                        </div>
                    </div>

                    <div class="itemtools">
                        <a class="btn btn-default" ng-click="moveUp(playlist.script, block)"><i class="icon-trash icon-white"></i> Move Up</a>
                        <a class="btn btn-default" ng-click="moveDown(playlist.script, block)"><i class="icon-trash icon-white"></i> Move Down</a>
                        <a class="btn btn-danger" ng-click="app.deleteItem(playlist.script, block)"><i class="icon-trash icon-white"></i> Delete</a>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-inverse sharkheader navbar-fixed-bottom">
                <span class="showcontrols pull-right">
                <span class="navbar-text">Show Duration: </span>
                <label>
                    <input type="number" class="target-duration input slidernumber form-control" value="{{playlist.duration}}"/>
                </label>
                <label>
                    <select class="form-control" ng-model="playlist.durationFormat">
                        <option value="hours">hours</option>
                        <option value="minutes">minutes</option>
                        <option value="seconds">seconds</option>
                    </select>
                </label>

                <button type="button" ng-click="app.addItem(playlist.script)" class="btn btn-primary navbar-btn">Add Block +</button>
                <button type="button" ng-click="save()" class="btn btn-success navbar-btn">Save All</button>
            </nav>
        </div>
    </body>
</html>