<link rel="import" href="../polymer/polymer.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <posh-sample></posh-sample>

@element posh-sample
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://polymerlabs.github.io/posh-sample
-->
<polymer-element name="posh-sample" attributes="notitle author">

  <template>

    <link rel="stylesheet" href="posh-sample.css" />

    <h1>This is a Posh Sample Component</h1>
    <h3>(it brings in lots of Polymer Component goodness)</h3>
    <content></content>

  </template>

  <script>

    Polymer({
      /**
       * The `author` attribute sets an initial author
       *
       * @attribute author
       * @type string
       * @default 'Dimitri Glazkov'
       */
      author: 'Dimitri Glazkov',

      /**
       * `fancy` is a property that does something fancy.
       *
       * @property fancy
       * @type bool
       * @default false
       */
      fancy: false,

      ready: function() {
        // Ready is a lifecycle callback.
        // You can do setup work in here.
        // More info: http://www.polymer-project.org/docs/polymer/polymer.html#lifecyclemethods
      },

      /**
       * The `sayHello` method will return a greeting.
       *
       * @method sayHello
       * @param {String} greeting Pass in a specific greeting.
       * @return {String} Returns a string greeting.
       */
      sayHello: function(greeting) {
        var response = greeting || 'Hello World!';
        return 'posh-sample says, ' + response;
      },

      /**
       * The `posh-sample-lasers-success` event is fired whenever we
       * call fireLasers.
       *
       * @event posh-sample-lasers-success
       * @param {Object} detail
       *   @param {string} detail.sound An amazing sound.
       */

      /**
       * The `fireLasers` method will fire the lasers. At least
       * it will dispatch an event that claims lasers were fired :)
       *
       * @method fireLasers
       */
      fireLasers: function() {
        this.fire('posh-sample-lasers-success', { sound: 'Pew pew pew!' });
      }

    });

  </script>

</polymer-element>
