<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-icons/iconsets/av-icons.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <sa-playmedia></sa-playmedia>

@element sa-playmedia
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://bengfarrell.github.io/sa-playmedia
-->
<polymer-element name="sa-playmedia" attributes="notitle">

  <template>

    <link rel="stylesheet" href="sa-playmedia.css" />

    <content>
        <template repeat="{{playlist}}">
            <div on-click="{{playAsset}}" data-media="{{media}}">
                <div>
                    <span>{{title}}</span>
                    <span>by {{artist}}</span>
                </div>
                <div>{{sourceLabel}} on <span>{{date}}</span></div>
                <core-icon icon="av:play-circle-fill"></core-icon>
            </div>
        </template>
    </content>

  </template>

  <script>

    Polymer('sa-playmedia', {
        /**
        * The `noevent` event is not actually fired from here,
        * we document it as an example of documenting events.
        *
        * @event noevent
        */

        /**
        * The `notitle` attribute does not yet have a purpose.
        *
        * @attribute notitle
        * @type string
        */
        notitle: '',

        /**
        * The `aProp` is a property that does something cool.
        *
        * @property aProp
        * @type bool
        */
        aProp: false,

        /**
         * playlist
         */
        playlist: [],

        /**
         * ready function
         */
        ready: function() {
            var self = this;
            var fs = require('fs');
            var srcsdata = fs.readFileSync('localstore/library.json');
            this.data = JSON.parse(srcsdata).sources;
            this.data.forEach( function(src) {
               src.assets.forEach( function(asset) {
                   asset.sourceLabel = src.label;
                   self.playlist.push(asset);
               });
            });
        },

        playAsset: function(event) {
            console.log(event.currentTarget.dataset.media)
        },

        /**
        * The `task` method does no work at this time.
        *
        * @method task
        * @return {Object} Returns undefined.
        * @param {String} dummy Serves no purpose today.
        */
        task: function(dummy) {
        }

    });

  </script>

</polymer-element>
