<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-style/core-style.html">
<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../paper-button/paper-button.html">

<!--<link rel="import" href="../sa-mainmenu/sa-mainmenu.html">
<link rel="import" href="../sa-libraryview/sa-libraryview.html">
<link rel="import" href="../sa-sourcesadmin/sa-sourcesadmin.html">
<link rel="import" href="../sa-playmedia/sa-playmedia.html">-->

<!--
Element providing solution to no problem in particular.

##### Example

    <sa-app></sa-app>

@element sa-app
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://bengfarrell.github.io/sa-app
-->
<polymer-element name="sa-app" attributes="notitle">

  <template>

    <link rel="stylesheet" href="sa-app.css" />

    <content>
        <sa-mainmenu id="mainmenu" on-tabclick="{{onTabClicked}}"></sa-mainmenu>

        <div class="content">

            <paper-button on-click="{{refreshLibrary}}">refresh library</paper-button>
            <paper-button on-click="{{createShow}}">create show</paper-button>
          <!--<core-animated-pages transitions="cross-fade-all" selected="{{selected}}">

              -- Play Tab --
                <section>
                    <div layout vertical center center-justified style="background:red;">
                        <sa-playmedia></sa-playmedia>
                    </div>
                </section>

                -- Library Tab --
                <section>
                    <div layout vertical center center-justified style="background:blue;">
                        <sa-libraryview></sa-libraryview>
                    </div>
                </section>

                -- Sources Tab --
                <section>
                    <div layout vertical center center-justified style="background:purple;">
                        <sa-sourcesadmin></sa-sourcesadmin>
                    </div>
                </section>

                -- Tasks Tab --
                <section>
                    <div layout vertical center center-justified style="background:orange;">
                        <div>4</div>
                    </div>
                </section>

                -- ?? Tab --
                <section>
                    <div layout vertical center center-justified style="background:green;">
                        <div>5</div>
                    </div>
                </section>
            </core-animated-pages> -->
        </div>

    </content>

  </template>

  <script>
    var Discover = require('../../../engine/discover/Discover.js');
    var BuildShow = require('../../../engine/package/BuildShow.js');
    var log = function(type, message) {
      console.log("\n" + type + " , " + message);
    };

    var config = {
      mediaInfoExecutable: './libs/MediaInfo.exe',
      youtubedlExecutable: './libs/youtube-dl.exe',
      ffmpegExecutable: './libs/ffmpeg.exe',
      mediaDirectory: './localstore/media',
      packaging: {
        showLocation: './localstore/shows',
        showIntro: 'VO_intro.mp3',
        showVOBed: 'VO_musicbed.mp3',
        voFadeInDuration: 5,
        voFadeOutDuration: 2,
        voDelay: 7,
        voEndPadding: 4,
        voOutFileSampleRate: 44100
      },
      libLocation: './localstore/output.json',
      dbLocation: './localstore/database',
      allowYouTube: true,
      allowVimeo: true,
      logging: log };

   Polymer('sa-app', {


    /** currently selected index */
    selected: 0,


    /** discovery task */
    discover: new Discover(config),

    /** build show task */
    showbuilder: new BuildShow(config),

    /** config */
    config: config,

    /** tabs in order - ties to selected index */
    tabChildren: ['play_tab', 'library_tab', 'sources_tab', 'tasks_tab'],


    ready: function() {
    },

    /**
    * refresh library
    *
    * @method refresh the song/asset library
    */
    refreshLibrary: function() {
      this.discover.on(Discover.prototype.COMPLETE, function() { config.logging("SharkAttack", "Discovery Finished"); });
      this.discover.run('./localstore/feeds/feed-library.json');
    },

     /**
      * create show
      *
      * @method create a show from the last library refresh run
      */
     createShow: function() {
       var show = 'SA162';
       this.showbuilder.on(BuildShow.prototype.COMPLETE, function() { config.logging("SharkAttack", "Show " + show + " created" ); });
       this.showbuilder.run(show, 10800, './localstore/output.json');
     },

     /**
     * on tab clicked event
     * @param e
     */
    onTabClicked: function(e) {
        this.selected = this.tabChildren.indexOf(e.detail.id);
    }

    });

  </script>

</polymer-element>
